{% extends 'base.html' %}
{% block content %}


<div class="contiainer mt-4">
    <div class="row">
        <div class="col-md-9">

            <div>
                <nav aria-label="breadcrumb" style="padding: 5px; background-color: gainsboro;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Expenses</li>
                    </ol>
                </nav>
            </div>

        </div>
    </div>
</div>





<div class="card mt-3">
    <div class="card-body">
        <form action="{% url 'add_expenses' %}" method="post">
            {% include 'partials/messages.html' %}
            {% csrf_token %}

            <div class="form-group">
                <label for="">Amount</label>
                <input type="number" value = "{{values.amount}}" class="form-control form-control-sm" name="amount">
            </div>

            <br>

            <div class="form-group">
                <label for="">Description</label>
                <input type="text" value = "{{values.description}}"class="form-control form-control-sm" name="description">
            </div>

            <br>


            <div class="form-group">
                <label for="">Category </label>
                <select class="form-control form-control" name="category">
                    <option selected value={{category.name}}> Choose.... </option>
                    {% for category in categories %}


                    <option name="category" value={{category.name}}>{{category.name}}</option>





                    {% endfor %}

                </select>
            </div>

            <br>

            <div class="form-group">
                <label for="">Date of Expense</label>
                <input type="date" value = "{{today | date:'Y-m-d'}}"  class="form-control form-control-sm" name="date">
            </div>
            <br>

            <input type="submit" value="Submit" class="btn btn-primary btn-primary-sm">
        </form>

    </div>
</div>









{% endblock content %}