{% extends 'base_auth.html' %} {% block content %}
{% load static %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">



            <div class="card-body">



                <div class="card-title py-2">
                    <h2 style="text-align: center;">Reset Password</h4>
                    <center>
                    <span>Enter Registered Email to get Reset Link</span>

                    </center>

                </div>

              


                <form action="{% url 'reset-password' %}" method="post">

                    {% csrf_token %}    



                    {% include 'partials/messages.html' %}


                    


                    <br>
                    

                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email" id="emailField" value = "{{values.email}}"
                            class="form-control form-control-sm" />

                    </div>

                    <div class="email-feedback" style="display: none; color: red; font-size: 12px">

                    </div>


                    <br>
                

                    <div class="form-group">
                        <!-- div.input-->


                        <input type="submit" value="Submit" style=" width: 100%;" class="btn btn-primary btn-block submit-btn"  />


                    </div>

                    <br>

                    
                    <div class="login-text">
                        <p>Remembered It?<a href = "{% url 'login' %}"> Login</a></p>
                    </div>


                </form>

            </div>

        </div>
    </div>

    <div class="col-md-3"></div>
</div>
</div>

<script src="{% static 'js/register.js'%}"> </script>

{% endblock content %}