{% extends 'base_auth.html' %} {% block content %}
{% load static %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">



            <div class="card-body">



                <div class="card-title py-2">    
                    <h4 style="text-align: center;">Set New Password</h4>

                </div>

              


                <form action="{% url 'reset-user-password' uidb64 token %}" method="post">

                    {% csrf_token %}    



                    {% include 'partials/messages.html' %}


                   


                    <div class="form-group">
                        <input type="password" name="password" placeholder="New Password" id="passwordField"
                            class="form-control form-control-sm" />


                        <small class="float-right py-1 showPasswordToggle"
                            style="float: right; font-weight: 700;">Show</small>

                    </div>

                

              
                    <br>

                    
                    <div class="form-group">
                        <input type="password" name="password1" placeholder="Confirmed Password" id="passwordField"
                            class="form-control form-control-sm" />


                    </div>

                    <br>

                    

                    <div class="form-group">
                        <!-- div.input-->


                        <input type="submit" value="Submit" style=" width: 100%;" class="btn btn-primary btn-block submit-btn"  />


                    </div>

                    <br>


                    <div class="login-text">
                        <a href = "{% url 'login' %}">Login</a>
                    </div>


                </form>

            </div>

        </div>
    </div>

    <div class="col-md-3"></div>
</div>
</div>

<script src="{% static 'js/register.js'%}"> </script>

{% endblock content %}