{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="{%static 'img/img.png'%}" />
    

    <title>Expense Tracker {% block title %} {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet" />
    <link href="{%static 'css/main.css'%}" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="{%static 'css/dashboard.css'%}" rel="stylesheet" />
  </head>

  <body class = "main-body">
    <nav
      class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow"
    >
      <a
        class="navbar-brand col-md-3 col-lg-2 me-0 px-3 pl-2"
        href="{% url 'expenses' %}"
        >Expense Tracker</a
      >
      <button
        class="navbar-toggler position-absolute d-md-none collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
        
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div>
        <div>
          <button
            id="counter-label"
            onclick="incrementClick()"
            style="background-color: purple; color: white; width: 50px"
          >
            Test
          </button>
        </div>
      </div>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link user_name" href="">{{request.user.username}} </a>
        </li>

        <li class="nav-item text-nowrap">
          <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}

            <input type="submit" class="text text-capitalize" value="Log Out" />
          </form>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        {% include 'partials/sidebar.html' %}

        <main role="main" class=" main col-md-9 ms-sm-auto col-lg-10 px-md-4">
          {% block content %} {% endblock %}
        </main>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
